<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .box1 {
            position: fixed;
            left: 50px;
            top: 150px;
            color: white;
        }
        .box2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
        }
        .box3 {
            position: fixed;
            left: 550px;
            top: 150px;
            color: white;
        }
        .box4 {
            position: fixed;
            left: 800px;
            top: 150px;
            color: white;
        }
        .box5 {
            position: fixed;
            left: 1050px;
            top: 150px;
            color: white;
        }
        .box6 {
            position: fixed;
            left: 1300px;
            top: 150px;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Want-to-Go List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Want-to-Go List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
        <script>
        var locations = '<%= locations %>';
        if (locations.length > 0) {
            locations = locations.split(',');
            for(var i=0;i<locations.length;i++)
            {
                var div = document.createElement("div");
                div.className= 'box'+(i+1);
                var img = document.createElement("img");
                img.src="/"+locations[i]+".png";
                img.height = 300;
                img.width = 193;
                var label = document.createElement("label");
                label.id = locations[i]
                label.className = "ml-4 my-2";
                label.innerHTML = locations[i];
                var linebreak1 = document.createElement('br');
                var linebreak2 = document.createElement('br');
                var linebreak3 = document.createElement('br');
                var linebreak4 = document.createElement('br');
                var button = document.createElement('button');
                button.setAttribute('onclick', "location.href = '/"+locations[i]+"';");
                button.id = locations[i];
                button.className = "btn btn-secondary ml-3";
                button.innerHTML = 'View';
                div.appendChild(img);
                div.appendChild(linebreak1); 
                div.appendChild(linebreak3);
                div.appendChild(label);
                div.appendChild(linebreak4);
                div.append(linebreak2);
                div.append(button);
                document.body.appendChild(div);
            }
    }
    </script>
</body>
</html>